.logo-text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #FDBF67;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}




button.active-link {
  background-color: #FF4886;
}
